//Button Styles

.btn {
	@include bg-colors($ui-colors);
}

[class^="btn--"] {
	@extend %center-align;
	@extend %btn;
	@media (min-width: 1px) and (max-width: 768px) {
		width: 100%;
	}
	@media (min-width: 769px) {
		width: auto;
		display: block;
		margin: 0 auto;
	}
}

.btn--success,
.btn--default {
	box-shadow: 0 20px 15px -15px rgba(0, 0, 0, .2);
	transition: box-shadow 200ms ease;
	&:hover {
		transform: scale(1.1);
		box-shadow: 0 25px 15px -15px rgba(0, 0, 0, .2);
	}
}
