// card

#portfolio {
	h2,
	h3 {
		color: $primarycolor;
	}
	p {
		color: palette(grey, x-light);
	}
}

.card {
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 0 6px 0 rgba(30, 45, 62, .08);
	transition: box-shadow 0.2s;
	height: 100%;
}

.card-img {
	background-color: palette(grey, x-light);
	height: 230px;
	transition: opacity .2s;
	opacity: .8;
	border-radius: 3px 3px 0 0;
}

.card-content {
	padding: 30px;
}
