// =============================
// Extends
// =============================

// Nav Items

%primary-nav-disp {
	display: block;
}

%primary-nav-link {
	padding: 0;
	margin: 0;
	position: relative;
	top: 16px;
	font-size: em(22px);
	letter-spacing: 0.05em;
}

%primary-nav-a {
	color: palette(grey, xx-light);
	font-family: $font-family--secondary;
	font-weight: $font-weight--bold;
}

%primary-nav-on {
	color: $text;
	transform: scale(1.1);
}

// Headlines

%hdln-prim {
	font-family: $font-family--secondary;
	font-weight: $font-weight--light;
	font-size: em(56px);
	line-height: (46px / 42px);
	margin-bottom: em(20px, 42px);
	color: $text;
}

%hdln-sec {
	font-family: $font-family--secondary;
	font-weight: $font-weight--thin;
	color: $thirdcolor;
	font-size: em(36px);
	letter-spacing: $letter-space;
}

// Button styles

%btn {
	color: $white;
	text-transform: uppercase;
	display: block;
	margin: 5px;
	padding: 15px 30px;
	border: 0;
	border-radius: $br--default;
	font-size: em(14px);
	font-weight: $font-weight--medium;
	&:hover {
		opacity: .75;
	}
	&:active {
		opacity: initial;
	}
}

// Icon styles

%svg--ui {
	cursor: pointer;
	height: em(32px);
	width: em(32px);
	fill: $blue;
	&:hover {
		transform: scale(1.2);
	}
}
