//landing

.landing {
  width: 100vw;
  p {
    color: $text;
  }
  @extend %panel-default;
  @include mq(small) {
    header {
      max-width: 90%;
    }
  }
}

.home {
  background-color: $primarycolor;
}

// Title

.title {
  color: $blue;
}
