//Navigation styles

.primary {
	@include e(nav) {
		@extend %primary-nav-disp;
		@extend %primary-nav-link;
		@include mq(small) {
			padding-top: em(90px);
		}
		@include mq(medium) {
			padding: 0 20px;
			display: inline-block;
		}
		a {
			@extend %primary-nav-a;
			@include mq(small) {
				font-size: em(24px);
				padding: 10px;
			}
			@include mq(medium) {
				font-size: em(18px);
			}

			&:hover {
				@extend %primary-nav-on;
			}
		}
	}
}
ul.primary {
	@include mq(medium) {
		float: right;
	}
}
