// portfolio

#overview,
#history,
#stories
#analysis {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#history,
#stories {
	background-color: rgba(235, 245, 254, 0.43);
}

#stories {
	padding-bottom: em(60px);
	h2 {
		margin-top: 0;
	}
}

#technologies {
	background: #f4f7fb;
}
#analysis {
	background: palette(grey, xx-light);
	min-height: 768px;
}

#redesign {
	padding: 2.5em;
}

.lists {
	li {
		color: $white;
		font-weight: $font-weight--medium;
	}
	@include mq(small) {
		li {
			display: block;
		}
	}
	@include mq(medium) {
		display: flex;
		li {
			padding: 0 em(10px);
		}
	}
}

.analysis-description {
	line-height: (48px / 24px);
	color: $thirdcolor;
	font-size: em(18px);
	padding: 0.75em;
	li {
		margin-top: em(10px);
	}
}

.hero {
	background: $primarycolor;
}

.photo {
	padding: 2em;
}
